openapi: 3.0.3
info:
  title: Reuzenpanda Public API Spec
  description: This is the public API specification for the Reuzenpanda backend services.
  contact:
    name: Matthew Smeets
    email: matthew@reuzenpanda.nl
  version: v1
  x-logo:
    url: /appicon.png
    altText: Reuzenpanda Logo
    href: https://reuzenpanda.nl
servers:
  - url: https://backend.reuzenpanda.nl
    description: Reuzenpanda Backend
externalDocs:
  description: Reuzenpanda Authorization Docs
  url: https://docs.reuzenpanda.app/api-docs/security
security:
  - X-AUTHORIZATION: []
tags:
  - name: WhatsRabbit
    description: Endpoints for managing WhatsRabbit webhooks.
  - name: Messages
    description: Endpoints for managing conversation messages
    x-displayName: Messages
  - name: Timelines AI
    description: Endpoints for managing Timelines AI synchronization and webhooks.
  - name: Chats
    description: Endpoints for managing conversation chats
    x-displayName: Chats
  - name: Mailgun
    description: Endpoints for managing Mailgun webhooks and ingestion.
  - name: Conversation Account Management
    description: Endpoints for managing conversation accounts
    x-displayName: Conversation Account Management
  - name: Onboarding
    description: Onboarding conversation Account
  - name: conversation-service:intro
    description: |+
      ## Conversation Module
      Reuzenpanda's Conversation Module is a central messaging hub that lets you communicate with customers through email and Whatsapp directly from Reuzenpanda. You connect one or more conversation accounts
      (private or shared) and use them in Leads/Deals, Documents, and Automations to send messages. You can read more about the Conversation Module in our [documentation](https://docs.reuzenpanda.app/conversation).

      ## Glossary
      - **Company Profile** — An account of a whole company which contains several users.
      - **Conversation Account** — An account representing a specific email adress or whatsapp number.
      - **Conversation Chat** — Represents a conversation within an account.
      - **Conversation Message** — A message sent or received within an account.

    x-displayName: Introduction
  - name: Connections - AI
    description: API for managing sleak connections
  - name: Logs
    description: Endpoints for managing logs
  - name: Sleak
    description: Endpoints for managing Sleak AI Agents
  - name: Automations
    description: Endpoints for managing automations
  - name: Webhooks
    description: Events related to webhooks
    x-displayName: Webhooks
  - name: Webhook Subscriptions
    description: Manage and subscribe to webhooks for various triggers
    x-displayName: Webhook Subscriptions
  - name: trigger-service:intro
    description: |
      ## Automations
      Automations within Reuzenpanda are used to automate repetitive tasks and processes. They consist of triggers and actions that work together to perform specific functions based on predefined conditions.
      Read more about automations [here](https://docs.reuzenpanda.app/automations).

      ## Glossary
      - **Automation** — A combination of trigger and action that causes a specific task to be performed.
      - **Plays** — A Play is one execution of an automation.
      - **Runs** — A Run is one execution of a Play.
      - **Trigger** — The cause of an automation. It triggers the automation to start.
      - **Action** — The consequence of a trigger. It performs an action when the trigger occurs.

      # Webhooks

      The webhooks in Reuzenpanda controls many triggers within the automation system. To integrate with webhooks, you can subscribe to webhooks within Reuzenpanda to use them as triggers for your own software.
      The important part is to know the Payload structure that is send with each webhook. To find the webhook events and their payloads, please refer to the `Webhooks` section in the OpenAPI documentation.
    x-displayName: Introduction
  - name: Leads/Deals Board
    description: APIs for managing Leads/Deals Boards.
    x-displayName: Leads/Deals Board
  - name: Pipelines
    description: APIs for managing pipelines
    x-displayName: Pipelines
  - name: Leads and Deals
    description: Endpoints for managing Leads and Deals.
    x-displayName: Leads And Deals
  - name: Schedules
    description: Endpoints for managing schedules
    x-displayName: Schedules
  - name: CRM Activities
    description: Endpoints for managing CRM activities
    x-displayName: CRM Activities
  - name: EventTypes
    description: Endpoints for managing eventTypes
    x-displayName: EventTypes
  - name: RRule Exceptions
    description: Endpoints for managing RRULE EXDATE exceptions
    x-displayName: RRule Exceptions
  - name: Relations
    description: API for managing relations.
    x-displayName: Relations
  - name: contact-service-2:intro
    description: |
      ## CRM
      The CRM system is used to track and manage leads and deals. You can manage these per board and per pipeline for a customized overview which is best for your use-case.
      Read more about the CRM system [here](https://docs.reuzenpanda.app/crm).

      ## Relations
      The Relations Module is used to keep track of customers as a person or as a organisation.
      Read more about Relations [here](https://docs.reuzenpanda.app/relations).

      ## Glossary
      - **Subject** — (Mostly a request) is used to connect leads, deals, documents, notes, contactpersons & organisations with eachother.
      - **Lead Configuration** — Form submission of a lead.
      - **Backlog** — A pipeline in Reuzenpanda.
      - **Backlog Column** — A column of a pipeline.
      - **Backlog Item** — A Lead or Deal in a Pipeline.
      - **Organisation** — A company or business entity within relations.
      - **Contact Person** — An individual (mostly) associated with an organisation within relations.
    x-displayName: Introduction
  - name: Users
    description: Endpoints for managing users in company profiles
    x-displayName: Users
  - name: Labels
    description: Endpoints for managing labels
    x-displayName: Labels
  - name: Company Profile
    description: Endpoints for managing company profiles
    x-displayName: Company Profile
  - name: company-profile-service:intro
    description: |
      ## Company Profiles
      A Company Profile is an account for a whole company which contains several users. Each user can have different roles and permissions within the Company Profile.
      Everything that is done is on behalf of the Company Profile, not on behalf of the individual user. So if a user makes changes, those changes are made to the Company Profile the user is logged in to at that moment.

      ## Glossary
      - **Company Profile** — An account of a whole company which contains several users.
      - **User** — Member of a Company Profile.
    x-displayName: Introduction
  - name: filter-service:intro
  - name: Authentication
    description: Endpoints for authentication
    x-displayName: Authentication
  - name: Authorization
    description: Endpoints for authorization
  - name: authentication-service:intro
    description: |+
      ## Authentication
      You can read about how authentication works in our [Authentication Documentation](https://docs.reuzenpanda.app/api-docs/security).

      ## Glossary
      - **Company Profile** — An account of a whole company which contains several users.
      - **Roles** — Roles assigned to users within a company profile with different permissions (e.g., Admin, User).
      - **Permission Tokens** — JWT tokens that encapsulate the permissions of a user within a specific company profile.

    x-displayName: Introduction
  - name: Notes
    description: Endpoints for managing notes
  - name: notes-service:intro
    description: |
      ## Glossary
      - **Note** — Represents a note associated with a contact, including details such as content, creation date, and author.
      - **Contact** — Represents an individual or entity to whom notes can be attached, including their personal or business details.
  - name: Register
    description: Endpoints for lead registration and management
  - name: register-service:intro
    description: |
      ## Glossary
      - **Registration** — The process of signing up or enrolling for our services.
      - **Lead** — A potential customer who has shown interest in our services.
  - name: Maintenance
    description: Endpoints for maintenance tasks such as managing info banners.
  - name: User
    description: Endpoints for user management.
  - name: user-service:intro
    description: |+
      ## Glossary
      - **Company Profile** — Represents a company's profile information, including details such as name, address, and contact information.
      - **User** — Represents an individual associated with a Company Profile, including their personal details and account information.

  - name: Health
    description: Endpoints for retrieving health and play run information.
  - name: zookeeper-service:intro
    description: |+
      ## Glossary
      - **Automation** — A combination of trigger and action that causes a specific task to be performed.
      - **Trigger** — The cause of an automation. It triggers the automation to start.
      - **Action** — The consequence of a trigger. It performs an action when the trigger occurs.
      - **Play** — Represents an automation that performs a task. It is executed each time the trigger of the automation occurs.
      - **Run** — Represents a single execution of a play. A play can be executed multiple times, and each execution is a run.

paths:
  /conversation-service/v1/chats/{chatId}/messages:
    post:
      tags:
        - Chats
      summary: Queue Chat Message
      description: Queue a message to be sent in a conversation chat.
      operationId: queueChatMessage
      parameters:
        - name: chatId
          in: path
          description: The Id of a Conversation Chat
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueMessageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                chatId - Chat id is not a valid UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/chats/{chatId}/messages/upload-attachment:
    post:
      tags:
        - Chats
      summary: Upload Chat Attachment
      description: Upload an attachment to be associated with a conversation chat message.
      operationId: uploadChatAttachment
      parameters:
        - name: chatId
          in: path
          description: The Id of a Conversation Chat
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attachments:
                  type: array
                  items:
                    type: string
                    format: binary
                requestBody:
                  $ref: '#/components/schemas/UploadAttachmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAttachmentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                chatId - Chat id is not a valid UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/{conversationAccountId}/messages/{conversationMessageMetadataId}/reactions:
    patch:
      tags:
        - Messages
      summary: Add/update a reaction to a message
      description: Add/update a reaction to a message
      operationId: updateMessageReaction
      parameters:
        - name: conversationAccountId
          in: path
          description: Conversation Account UUID
          required: true
          schema:
            type: string
            format: uuid
        - name: conversationMessageMetadataId
          in: path
          description: Semantic Id of a Conversation Message
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageReactionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                conversationMessageMetadataId - Conversation Message Metadata id is not a valid UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/{conversationAccountId}/messages:
    get:
      tags:
        - Messages
      summary: List Conversation Messages
      description: Retrieve a list of conversation messages for a specific conversation account.
      operationId: listConversationMessages
      parameters:
        - name: conversationAccountId
          in: path
          description: Conversation Account UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessageListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/{conversationAccountId}/messages/{messageContentStoreId}/attachments/{attachmentTag}/download:
    get:
      tags:
        - Messages
      summary: Download Conversation Message Attachment
      description: Download a specific attachment from a conversation message.
      operationId: downloadConversationMessageAttachment
      parameters:
        - name: conversationAccountId
          in: path
          description: Conversation Account UUID
          required: true
          schema:
            type: string
            format: uuid
        - name: messageContentStoreId
          in: path
          required: true
          schema:
            type: string
        - name: attachmentTag
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                format: byte
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/{conversationAccountId}/messages/{conversationMessageMetadataId}:
    get:
      tags:
        - Messages
      summary: Get Conversation Message Metadata
      description: Retrieve metadata for a specific conversation message by its ID.
      operationId: getConversationMessageMetadata
      parameters:
        - name: conversationAccountId
          in: path
          description: Conversation Account UUID
          required: true
          schema:
            type: string
            format: uuid
        - name: conversationMessageMetadataId
          in: path
          description: Semantic Id of a Conversation Message
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                conversationMessageMetadataId - Conversation Message Metadata id is not a valid UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/chats/list:
    get:
      tags:
        - Chats
      summary: List Conversation Chats
      description: Retrieve a list of conversation chats associated with the authenticated user or a specified company profile.
      operationId: listConversationChats
      parameters:
        - name: companyProfileId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: subject_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: subject_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - CONTACT_PERSON
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /conversation-service/v1/accounts/list:
    get:
      tags:
        - Conversation Account Management
      summary: List Conversation Accounts
      description: Retrieve a list of conversation accounts owned by the authenticated user or associated with a specified company profile.
      operationId: listConversationAccounts_2
      parameters:
        - name: companyProfileId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationAccountListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
  /trigger-service/api/v1/subscribe:
    post:
      tags:
        - Webhook Subscriptions
      summary: Subscribe Webhook
      description: Subscribe a new webhook
      operationId: subscribeWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscribeRequest'
            examples:
              LEAD_CONFIGURATION_FINALIZED:
                description: LEAD_CONFIGURATION_FINALIZED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - LEAD_CONFIGURATION_FINALIZED
                  scope: {}
                  headers:
                    Authorization: Bearer your_token_here
              CRM_BACKLOG_ITEM_CREATED:
                description: CRM_BACKLOG_ITEM_CREATED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - CRM_BACKLOG_ITEM_CREATED
                  scope:
                    item_type: LEADS
                  headers:
                    Authorization: Bearer your_token_here
              CRM_BACKLOG_ITEM_RESULT_CHANGE:
                description: CRM_BACKLOG_ITEM_RESULT_CHANGE
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - CRM_BACKLOG_ITEM_RESULT_CHANGE
                  scope:
                    result: won
                  headers:
                    Authorization: Bearer your_token_here
              CRM_BACKLOG_ITEM_STATUS_CHANGE:
                description: CRM_BACKLOG_ITEM_STATUS_CHANGE
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - CRM_BACKLOG_ITEM_STATUS_CHANGE
                  scope:
                    status_id: 123e4567-e89b-12d3-a456-426614174000
                  headers:
                    Authorization: Bearer your_token_here
              CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE:
                description: CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE
                  scope:
                    assignee_id: 123e4567-e89b-12d3-a456-426614174000
                  headers:
                    Authorization: Bearer your_token_here
              CRM_BACKLOG_ITEM_COPIED:
                description: CRM_BACKLOG_ITEM_COPIED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - CRM_BACKLOG_ITEM_COPIED
                  scope:
                    board_id: 123e4567-e89b-12d3-a456-426614174000
                    source_board_id: 123e4567-e89b-12d3-a456-426614174000
                  headers:
                    Authorization: Bearer your_token_here
              DOCUMENT_QUOTATION_CREATED:
                description: DOCUMENT_QUOTATION_CREATED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - DOCUMENT_QUOTATION_CREATED
                  scope: {}
                  headers:
                    Authorization: Bearer your_token_here
              DOCUMENT_INVOICE_CREATED:
                description: DOCUMENT_INVOICE_CREATED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - DOCUMENT_INVOICE_CREATED
                  scope: {}
                  headers:
                    Authorization: Bearer your_token_here
              DOCUMENT_CONTRACT_CREATED:
                description: DOCUMENT_CONTRACT_CREATED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - DOCUMENT_CONTRACT_CREATED
                  scope: {}
                  headers:
                    Authorization: Bearer your_token_here
              DOCUMENT_STATUS_UPDATED:
                description: DOCUMENT_STATUS_UPDATED
                value:
                  executorName: webhook_executor
                  url: https://example.com/webhook
                  events:
                    - DOCUMENT_STATUS_UPDATED
                  scope:
                    document_status: SENT
                  headers:
                    Authorization: Bearer your_token_here
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerSubscriberResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
  /trigger-service/api/v1/ingest/{automationId}/trigger:
    post:
      tags:
        - Webhook Subscriptions
      summary: Receive Webhook
      description: Receive a webhook to trigger an automation
      operationId: receiveWebhook
      parameters:
        - name: automationId
          in: path
          description: Automation UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                automationId - Automation Id is not a valid UUID.:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
  /LEAD_CONFIGURATION_FINALIZED:
    post:
      tags:
        - Webhooks
      summary: Lead Configuration Finalized
      description: |
        ### `LEAD_CONFIGURATION_FINALIZED`
        Triggered when a lead/deal is created or a form is submitted.

        The key difference compared to `CRM_BACKLOG_ITEM_CREATED` is the data included in the payload:
        - `LEAD_CONFIGURATION_FINALIZED` contains the form unput fields that were submitted.
        - `CRM_BACKLOG_ITEM_CREATED` only includes the contact details.

        Note: `input_fields` is dynamic and can differ per form/configuration. We recommend inspecting the structure per payload and using the fields in the way that best fits your use case.
      operationId: LEAD_CONFIGURATION_FINALIZED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                LEAD_CONFIGURATION_FINALIZED:
                  summary: Example payload (input_fields are dynamic)
                  description: LEAD_CONFIGURATION_FINALIZED
                  value:
                    id: 25064710
                    timestamp: 1766062609
                    eventName: LEAD_CONFIGURATION_FINALIZED
                    payload:
                      id: bd0dc545-8651-4f36-a27f-464117f7533c
                      internal_configuration: true
                      company_profile_id: ef10e5ae-6d91-4e29-8572-d798e6d3aded
                      created_at: 1766062609081
                      updated_at: 1766062609081
                      input_fields: []
                      status: COMPLETED_CONFIGURATION
                      archived: false
                      seen: false
                      objectified_options: {}
                      objectified_product_options: {}
                      objectified_input_fields: {}
                    metadata:
                      automation: true
                      user_id: d709665b-78d7-4f11-b774-80cbb259bfa8
                      lead_configuration_id: bd0dc545-8621-4f36-a27f-464117f7533c
                      company_profile_id: e7e0e5ae-6d91-4e29-8572-d798e6d3aded
                      internal_configuration: true
  /DOCUMENT_STATUS_UPDATED:
    post:
      tags:
        - Webhooks
      summary: Status Updated
      description: |+
        ### `DOCUMENT_STATUS_UPDATED`
        Triggered when the status of a document is updated.

        You can use the fields in this payload to understand what changed and to filter events in your webhook subscription:
        - `old_document_status`: the document status before the change. You can use this value to scope events for specific transitions
        - `document_status`: the new document status after the change.
        - `document_type`: the type of document (e.g., INVOICE, QUOTATION, CONTRACT)
        - `document_id`: used to identify which document was updated

        You can scope on the following statuses: `SENT`, `EXPIRED`, `ACCEPTED`, `REJECTED`, `PAID`, `PARTIALLY_PAID`.

      operationId: DOCUMENT_STATUS_UPDATED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                DOCUMENT_STATUS_UPDATED:
                  summary: 'Document status changed: old_document_status -> document_status'
                  description: DOCUMENT_STATUS_UPDATED
                  value:
                    id: -1629111826
                    timestamp: 1766148551
                    eventName: DOCUMENT_STATUS_UPDATED
                    payload:
                      documentId: ba1433bb-9f60-4d92-922f-d40f15bea710
                      versionId: d13fbb1c-7aa7-452e-a1bb-9e3afb108710
                      profileId: null
                      documentTitle: 'Factuur #20250012'
                      documentStatus: SENT
                      documentNumber: '20250012'
                      documentType: INVOICE
                      title: 'Factuur #20250012'
                      invoiceNumber: '20250012'
                      invoiceTitle: 'Factuur #20250012'
                      invoiceCreationTimestamp: 1766056376263
                      invoiceDeliveryTimestamp: 1766056445688
                      invoiceExpirationTimestamp: 1768648376263
                      invoiceStatus: SENT
                      isoCurrency: EUR
                      locale: nl-NL
                      archived: null
                      subjects:
                        leadConfiguration: b9ac5d73-3dbf-41cd-be0f-764a4e9bcdaa
                        contactPerson: 2794f6e9-be43-4f2a-b963-71e0f70de0b5
                        paymentSummary: 41bb5b0a-bad8-40c9-a797-65e81fab3f96
                      segments: {}
                      pricing:
                        total: 0
                      renderRows: []
                      renderTemplate: null
                      artifacts: null
                    metadata:
                      archived: false
                      old_document_status: CREATED
                      document_status: SENT
                      lead_configuration_id: b9ac5d73-3dbf-41cd-be0f-764a4e9bcdaa
                      event_user: d709665b-78d7-4f11-b774-80cbb259bfa8
                      document_id: ba1433bb-9f60-4d92-922f-d40f15bea710
                      company_profile_id: e7e0e5ae-6d91-4e29-8572-d798e6d3aded
                      document_type: INVOICE
  /DOCUMENT_QUOTATION_CREATED:
    post:
      tags:
        - Webhooks
      summary: Quotation Created
      description: |
        ### `DOCUMENT_QUOTATION_CREATED`
        Triggered when a new quotation is created.

        The same payload structure as `DOCUMENT_INVOICE_CREATED` is used for quotations.
        Note: `segments` and `renderRows` are dynamic and can differ per document.
      operationId: DOCUMENT_QUOTATION_CREATED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                DOCUMENT_QUOTATION_CREATED:
                  summary: Example payload (segments/renderRows are dynamic)
                  description: DOCUMENT_QUOTATION_CREATED
                  value:
                    id: 934926516
                    timestamp: 1766147986
                    eventName: DOCUMENT_QUOTATION_CREATED
                    payload:
                      documentId: 1fec47fd-2edb-4003-b74c-307dcd161007
                      versionId: 38f4af50-4296-44f6-831a-d0063370c5bf
                      profileId: null
                      documentTitle: 'Offerte #20250055'
                      documentStatus: DRAFT
                      documentNumber: '20250055'
                      documentType: QUOTATION
                      title: 'Offerte #20250055'
                      quotationNumber: '20250055'
                      quotationTitle: 'Offerte #20250055'
                      quotationCreationTimestamp: 1766147982869
                      quotationExpirationTimestamp: 1768739982869
                      quotationStatus: DRAFT
                      isoCurrency: EUR
                      locale: nl-NL
                      subjects: {}
                      segments: {}
                      pricing:
                        total: 0
                      renderRows: []
                      renderTemplate: null
                      artifacts: null
                    metadata:
                      archived: false
                      document_status: DRAFT
                      event_user: d709665b-78d7-4f11-b774-80cbb259bfa8
                      document_id: 1fec47fd-2edb-4003-b74c-307dcd161007
                      company_profile_id: e7e0e5ae-6d91-4e29-8572-d798e6d3aded
                      document_type: QUOTATION
  /DOCUMENT_INVOICE_CREATED:
    post:
      tags:
        - Webhooks
      summary: Invoice Created
      description: |
        ### `DOCUMENT_INVOICE_CREATED`
        Triggered when a new invoice is created.

        Note that `segments` and `renderRows` represent the document's dynamic layout. Because this structure can vary per document,
        it's not practical to define it as a fixed, static schema. We recommend inspecting these fields on a per-document basis and using
        them in the way that best fits your use case.
      operationId: DOCUMENT_INVOICE_CREATED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                DOCUMENT_INVOICE_CREATED:
                  summary: Example payload (segments/renderRows are dynamic)
                  description: DOCUMENT_INVOICE_CREATED
                  value:
                    id: -1632424344
                    timestamp: 1766146714
                    eventName: DOCUMENT_INVOICE_CREATED
                    payload:
                      documentId: 8184ac0c-0aab-4b99-9803-73fc71d53f0e
                      versionId: db43124e-24d8-4e7d-8929-b128ef71e01e
                      profileId: null
                      documentTitle: 'Factuur #20250014'
                      documentStatus: CREATED
                      documentNumber: '20250014'
                      documentType: INVOICE
                      title: 'Factuur #20250014'
                      invoiceNumber: '20250014'
                      invoiceTitle: 'Factuur #20250014'
                      invoiceCreationTimestamp: 1766358000000
                      invoiceDeliveryTimestamp: 1766185200000
                      invoiceExpirationTimestamp: 1766357940000
                      invoiceStatus: CREATED
                      isoCurrency: EUR
                      locale: nl-NL
                      archived: null
                      subjects:
                        paymentSummary: 849e21fc-874e-46e7-b3d9-bfe08d0f575f
                      segments: {}
                      pricing:
                        total: 50
                      renderRows: []
                      renderTemplate: null
                      artifacts: null
                    metadata:
                      archived: false
                      document_status: CREATED
                      event_user: d709665b-78d7-4f11-b774-80cbb259bfa8
                      document_id: 8184ac0c-0aab-4b99-9803-73fc71d53f0e
                      company_profile_id: e7e0e5ae-6d91-4e29-8572-d798e6d3aded
                      document_type: INVOICE
  /DOCUMENT_CONTRACT_CREATED:
    post:
      tags:
        - Webhooks
      summary: Contract Created
      description: |
        ### `DOCUMENT_CONTRACT_CREATED`
        Triggered when a new contract is created.

        Note: `segments` and `renderRows` are dynamic and can differ per document. The content of the contract will be shown within `segments`.
      operationId: DOCUMENT_CONTRACT_CREATED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                DOCUMENT_CONTRACT_CREATED:
                  summary: Example payload (segments/renderRows are dynamic)
                  description: DOCUMENT_CONTRACT_CREATED
                  value:
                    id: -1699372250
                    timestamp: 1766147292
                    eventName: DOCUMENT_CONTRACT_CREATED
                    payload:
                      documentId: 02450e96-fec7-44a6-b7ce-78685016909e
                      versionId: 7cd42a8b-d3f9-48b2-a5b1-5ded5afc9a07
                      profileId: null
                      documentTitle: 'Contract #20250006'
                      documentStatus: DRAFT
                      documentNumber: '20250006'
                      documentType: CONTRACT
                      contractCreationTimestamp: 1766147289595
                      contractExpirationTimestamp: -1
                      isoCurrency: EUR
                      locale: nl-NL
                      archived: null
                      subjects: {}
                      segments: {}
                      renderRows: []
                      renderTemplate: null
                      artifacts: null
                    metadata:
                      archived: false
                      document_status: DRAFT
                      event_user: d709665b-78d7-4f11-b774-80cbb259bfa8
                      document_id: 02450e96-fec7-44a6-b7ce-78685016909e
                      company_profile_id: e7e0e5ae-6d91-4e29-8572-d798e6d3aded
                      document_type: CONTRACT
  /CRM_BACKLOG_ITEM_STATUS_CHANGE:
    post:
      tags:
        - Webhooks
      summary: Deal Status Changed
      description: |
        ### `CRM_BACKLOG_ITEM_STATUS_CHANGE`
        Triggered when the status of a deal has changed in the CRM system. Every column in a pipeline is considered a status.

        The metadata fields `old_status_id` and `status_id` indicate the previous and new status of the deal which you can scope on in your webhook subscription.
      operationId: CRM_BACKLOG_ITEM_STATUS_CHANGE
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                CRM_BACKLOG_ITEM_STATUS_CHANGE:
                  summary: 'Status changed: old_status_id -> status_id'
                  description: CRM_BACKLOG_ITEM_STATUS_CHANGE
                  value:
                    id: 123456789
                    timestamp: 1234567890
                    eventName: CRM_BACKLOG_ITEM_STATUS_CHANGE
                    payload:
                      id: 123e4567-e89b-12d3-a456-426614174000
                      backlog_id: 19a80d86-49dd-4842-a9ea-5992e74896a1
                      summary: Name of Description
                      description: LEAD/DEAL Description
                      lead_value: € 50,000.00
                      fields:
                        address: Address of LEAD/DEAL
                        phone: Phone number of LEAD/DEAL
                        cf_lead_value:
                          iso_currency: EUR
                          amount: 50000
                          type: currency
                        email: Email of LEAD/DEAL
                      free_fields:
                        - label: address
                          value: Address of LEAD/DEAL
                        - label: email
                          value: Email of LEAD/DEAL
                        - label: phone
                          value: Phone number of LEAD/DEAL
                        - label: _internalConfigurator
                          value: true
                        - label: cf_lead_value
                          value:
                            iso_currency: EUR
                            amount: 50000
                            type: currency
                      item_subject:
                        type: LEAD_CONFIGURATION
                        id: tb3dc745-8621-4f36-a27f-414287n7573c
                      timestamp_created: 1766062185518
                      timestamp_updated: 1766062185518
                    metadata:
                      status_id: 02846589-2467-53o8-34k6-f3a6bbe3g64e
                      old_status_id: 56493857-2846-49s1-v93k-33a6bbe3f67e
                      board_id: 85h54s56-h1e9-440f-b0c5-60dbee82a7a5
                      item_type: LEADS
                      lead_configuration_id: 97tfbaj4-72hf-41d8-aa84-j93934725e3c
                      company_profile_id: f6e8n5kl-4g26-4e29-8572-d798e6d3aded
                      backlog_id: 53h40c86-49dd-4892-p9ua-5965e78542ja
                      internal_configuration: false
  /CRM_BACKLOG_ITEM_RESULT_CHANGE:
    post:
      tags:
        - Webhooks
      summary: Deal Won/Lost
      description: |
        ### `CRM_BACKLOG_ITEM_RESULT_CHANGE`
        Triggered when a deal is marked as **lost** or **won** in the CRM system.

        The metadata field `result` indicates whether the deal was marked as "lost" or "won".
      operationId: CRM_BACKLOG_ITEM_RESULT_CHANGE
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                CRM_BACKLOG_ITEM_RESULT_CHANGE:
                  summary: Result can be "lost" or "won"
                  description: CRM_BACKLOG_ITEM_RESULT_CHANGE
                  value:
                    id: 123456789
                    timestamp: 1234567890
                    eventName: CRM_BACKLOG_ITEM_RESULT_CHANGE
                    payload:
                      id: 123e4567-e89b-12d3-a456-426614174000
                      backlog_id: 19a80d86-49dd-4842-a9ea-5992e74896a1
                      summary: Name of Description
                      description: LEAD/DEAL Description
                      lead_value: € 50,000.00
                      fields:
                        address: Address of LEAD/DEAL
                        phone: Phone number of LEAD/DEAL
                        cf_lead_value:
                          iso_currency: EUR
                          amount: 50000
                          type: currency
                        email: Email of LEAD/DEAL
                      free_fields:
                        - label: address
                          value: Address of LEAD/DEAL
                        - label: email
                          value: Email of LEAD/DEAL
                        - label: phone
                          value: Phone number of LEAD/DEAL
                        - label: _internalConfigurator
                          value: true
                        - label: cf_lead_value
                          value:
                            iso_currency: EUR
                            amount: 50000
                            type: currency
                      item_subject:
                        type: LEAD_CONFIGURATION
                        id: tb3dc745-8621-4f36-a27f-414287n7573c
                      timestamp_created: 1766062185518
                      timestamp_updated: 1766062185518
                    metadata:
                      result: lost
                      board_id: 85h54s56-h1e9-440f-b0c5-60dbee82a7a5
                      item_type: LEADS
                      lead_configuration_id: 97tfbaj4-72hf-41d8-aa84-j93934725e3c
                      company_profile_id: f6e8n5kl-4g26-4e29-8572-d798e6d3aded
                      backlog_id: 53h40c86-49dd-4892-p9ua-5965e78542ja
                      internal_configuration: false
  /CRM_BACKLOG_ITEM_CREATED:
    post:
      tags:
        - Webhooks
      summary: Lead/Deal Created
      description: |
        ### `CRM_BACKLOG_ITEM_CREATED`
        Triggered when a new lead or deal is created in the CRM system.

        Here are some important things to keep in mind when working with this webhook event:
        - To retrieve the contact details for a lead/deal, use the `id` from `item_subject` and query the **Relations endpoints**. The webhook does not guarantee that `fields`, `summary` or `description` are always present or up to date. For example, if a contact is updated, those values in the webhook payload may not reflect the latest changes.
        - `internal_configuration` indicates whether the lead/deal was created manually or via an automation. You can use this field to filter webhook deliveries by setting an appropriate scope in your subscription.
        - `item_type` tells you whether the item is a **Lead** or a **Deal**
        - `backlog_id` is the **pipeline ID** where the lead/deal currently resides.
        - `board_id` is the board ID where the lead/deal is located.

        You can scope your webhook subscription using these fields to ensure you only receive the data you need.

        If `item_type` is Lead, you don't need to scope on `board_id`, because it is always the same for leads.
      operationId: CRM_BACKLOG_ITEM_CREATED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                CRM_BACKLOG_ITEM_CREATED:
                  description: CRM_BACKLOG_ITEM_CREATED
                  value:
                    id: 123456789
                    timestamp: 1234567890
                    eventName: CRM_BACKLOG_ITEM_CREATED
                    payload:
                      id: 123e4567-e89b-12d3-a456-426614174000
                      backlog_id: 19a80d86-49dd-4842-a9ea-5992e74896a1
                      summary: Name of Description
                      description: LEAD/DEAL Description
                      lead_value: € 50,000.00
                      fields:
                        address: Address of LEAD/DEAL
                        phone: Phone number of LEAD/DEAL
                        cf_lead_value:
                          iso_currency: EUR
                          amount: 50000
                          type: currency
                        email: Email of LEAD/DEAL
                      free_fields:
                        - label: address
                          value: Address of LEAD/DEAL
                        - label: email
                          value: Email of LEAD/DEAL
                        - label: phone
                          value: Phone number of LEAD/DEAL
                        - label: _internalConfigurator
                          value: true
                        - label: cf_lead_value
                          value:
                            iso_currency: EUR
                            amount: 50000
                            type: currency
                      item_subject:
                        type: LEAD_CONFIGURATION
                        id: tb3dc745-8621-4f36-a27f-414287n7573c
                      timestamp_created: 1766062185518
                      timestamp_updated: 1766062185518
                    metadata:
                      board_id: 85h54s56-h1e9-440f-b0c5-60dbee82a7a5
                      item_type: LEADS
                      lead_configuration_id: 97tfbaj4-72hf-41d8-aa84-j93934725e3c
                      company_profile_id: f6e8n5kl-4g26-4e29-8572-d798e6d3aded
                      backlog_id: 53h40c86-49dd-4892-p9ua-5965e78542ja
                      internal_configuration: false
  /CRM_BACKLOG_ITEM_COPIED:
    post:
      tags:
        - Webhooks
      summary: Lead Converted To Deal
      description: |
        ### `CRM_BACKLOG_ITEM_COPIED`
        Triggered when a lead is converted to a deal in the CRM system.

        The metadata fields `source_board_id` and `source_backlog_id` indicate the original board and pipeline from which the lead was converted and
        the metadata fields `board_id` and `backlog_id` indicate the new board and pipeline where the deal now resides.
      operationId: CRM_BACKLOG_ITEM_COPIED
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                CRM_BACKLOG_ITEM_COPIED:
                  summary: Lead converted to deal
                  description: CRM_BACKLOG_ITEM_COPIED
                  value:
                    id: 123456789
                    timestamp: 1234567890
                    eventName: CRM_BACKLOG_ITEM_COPIED
                    payload:
                      id: 123e4567-e89b-12d3-a456-426614174000
                      backlog_id: 19a80d86-49dd-4842-a9ea-5992e74896a1
                      summary: Name of Description
                      description: LEAD/DEAL Description
                      lead_value: € 50,000.00
                      fields:
                        address: Address of LEAD/DEAL
                        phone: Phone number of LEAD/DEAL
                        cf_lead_value:
                          iso_currency: EUR
                          amount: 50000
                          type: currency
                        email: Email of LEAD/DEAL
                      free_fields:
                        - label: address
                          value: Address of LEAD/DEAL
                        - label: email
                          value: Email of LEAD/DEAL
                        - label: phone
                          value: Phone number of LEAD/DEAL
                        - label: _internalConfigurator
                          value: true
                        - label: cf_lead_value
                          value:
                            iso_currency: EUR
                            amount: 50000
                            type: currency
                      item_subject:
                        type: LEAD_CONFIGURATION
                        id: tb3dc745-8621-4f36-a27f-414287n7573c
                      timestamp_created: 1766062185518
                      timestamp_updated: 1766062185518
                    metadata:
                      board_id: 85h54s56-h1e9-440f-b0c5-60dbee82a7a5
                      item_type: DEALS
                      lead_configuration_id: 97tfbaj4-72hf-41d8-aa84-j93934725e3c
                      company_profile_id: f6e8n5kl-4g26-4e29-8572-d798e6d3aded
                      backlog_id: 53h40c86-49dd-4892-p9ua-5965e78542ja
                      internal_configuration: false
  /CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE:
    post:
      tags:
        - Webhooks
      summary: Lead/Deal Assignee Changed
      description: |
        ### `CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE`
        Triggered when an assignee is added or changed for a lead/deal in the CRM system.

        The metadata fields `old_assignee_id` and `assignee_id` indicate the previous and new assignee of the lead/deal which you can scope on in your webhook subscription.
      operationId: CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE
      responses:
        '200':
          description: Example webhook payload
          content:
            application/json:
              examples:
                CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE:
                  summary: 'Assignee changed: old_assignee_id -> assignee_id'
                  description: CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE
                  value:
                    id: 123456789
                    timestamp: 1234567890
                    eventName: CRM_BACKLOG_ITEM_ASSIGNEE_CHANGE
                    payload:
                      id: 123e4567-e89b-12d3-a456-426614174000
                      backlog_id: 19a80d86-49dd-4842-a9ea-5992e74896a1
                      summary: Name of Description
                      description: LEAD/DEAL Description
                      lead_value: € 50,000.00
                      fields:
                        address: Address of LEAD/DEAL
                        phone: Phone number of LEAD/DEAL
                        cf_lead_value:
                          iso_currency: EUR
                          amount: 50000
                          type: currency
                        email: Email of LEAD/DEAL
                      free_fields:
                        - label: address
                          value: Address of LEAD/DEAL
                        - label: email
                          value: Email of LEAD/DEAL
                        - label: phone
                          value: Phone number of LEAD/DEAL
                        - label: _internalConfigurator
                          value: true
                        - label: cf_lead_value
                          value:
                            iso_currency: EUR
                            amount: 50000
                            type: currency
                      item_subject:
                        type: LEAD_CONFIGURATION
                        id: tb3dc745-8621-4f36-a27f-414287n7573c
                      timestamp_created: 1766062185518
                      timestamp_updated: 1766062185518
                    metadata:
                      old_assignee_id: 02846589-2467-53o8-34k6-f3a6bbe3g64e
                      assignee_id: 56493857-2846-49s1-v93k-33a6bbe3f67e
                      board_id: 85h54s56-h1e9-440f-b0c5-60dbee82a7a5
                      item_type: LEADS
                      lead_configuration_id: 97tfbaj4-72hf-41d8-aa84-j93934725e3c
                      company_profile_id: f6e8n5kl-4g26-4e29-8572-d798e6d3aded
                      backlog_id: 53h40c86-49dd-4892-p9ua-5965e78542ja
                      internal_configuration: false
  /trigger-service/api/v1/list:
    get:
      tags:
        - Webhook Subscriptions
      summary: List Subscriptions in Company Profile
      description: List all subscriptions for a specific company profile
      operationId: listSubscriptionsInCompanyProfile
      parameters:
        - name: profile_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TriggerSubscriber'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
  /trigger-service/api/v1/unsubscribe:
    delete:
      tags:
        - Webhook Subscriptions
      summary: Unsubscribe
      description: Remove a subscription
      operationId: unregisterSubscription
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/schedules:
    get:
      tags:
        - Schedules
      summary: Get all schedules for profile
      operationId: getSchedules
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScheduleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
    post:
      tags:
        - Schedules
      summary: Create a new schedule
      operationId: createSchedule
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/event-types:
    get:
      tags:
        - EventTypes
      summary: Get all eventTypes for profile
      operationId: getEventTypes
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventTypeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
    post:
      tags:
        - EventTypes
      summary: Create a new eventType
      operationId: createEventType
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventTypeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/event-types/book-activity:
    post:
      tags:
        - EventTypes
      summary: Book activity on slot
      operationId: bookActivityOnSlot
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookActivityOnSlotRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSlotResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/contact-persons:
    get:
      tags:
        - Relations
      summary: List Contact Persons
      description: Retrieve a list of contact persons associated with the specified profile ID.
      operationId: listContactPersons
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContactPersonResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/boards:
    get:
      tags:
        - Leads/Deals Board
      summary: List Leads/Deals Boards
      description: |
        Retrieves a list of Leads/Deals Boards associated with the specified company profile.
      operationId: listBoards
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: board_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - LEADS
              - DEALS
              - ORDERS
              - PAYMENTS
              - PROJECTS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBoardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/boards/{boardId}/backlogs:
    get:
      tags:
        - Pipelines
      summary: List Pipelines
      description: |
        Retrieves a list of Pipelines for a specific board within a company profile.
      operationId: listCRMBacklogs
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: boardId
          in: path
          description: Board UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBacklogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                boardId - Board id is not a UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/boards/{boardId}/backlogs/{backlogId}/items:
    get:
      tags:
        - Leads and Deals
      summary: List Leads/Deals
      description: Retrieves a list of Leads or Deals for a specified pipeline, with optional filtering, pagination, and configuration options.
      operationId: listBacklogItems_1
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: boardId
          in: path
          description: Board UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: backlogId
          in: path
          description: Backlog UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: filter
          in: query
          required: false
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: -1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: hide_internal_configurations
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: configurator_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: date_preset
          in: query
          required: false
          schema:
            type: string
            enum:
              - custom
              - last90days
              - last30days
              - last14days
              - last7days
              - thisweek
              - today
              - maximum
        - name: date_from
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: date_to
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBacklogItemResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                boardId - Board id is not a UUID:
                  value: null
                backlogId - Backlog id is not a UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/boards/{boardId}/backlogs/{backlogId}/items/copy:
    post:
      tags:
        - Leads and Deals
      summary: Copy Leads/Deals to Target Pipeline
      description: Copies specified Leads or Deals to a target pipeline within the same or different leads/deals board.
      operationId: copyBacklogItemsToTarget
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: boardId
          in: path
          description: Board UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: backlogId
          in: path
          description: Backlog UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyEntitiesToTargetRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBacklogItemResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission400'
                boardId - Board id is not a UUID:
                  value: null
                backlogId - Backlog id is not a UUID:
                  value: null
              example:
                message: INVALID_PERMISSION
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Could not read token:
                  $ref: '#/components/examples/GenericCouldNotReadToken401'
                Invalid token:
                  $ref: '#/components/examples/GenericInvalidToken401'
                No user:
                  $ref: '#/components/examples/GenericNoUser401'
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission401'
              example:
                message: COULD_NOT_READ_TOKEN
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
              examples:
                Invalid Permission:
                  $ref: '#/components/examples/GenericInvalidPermission403'
                profileId - Access to the specified company profile is forbidden:
                  value:
                    message: COMPANY_PROFILE_ACCESS_DENIED
              example:
                message: INVALID_PERMISSION
  /contact-service/{profileId}/activities:
    get:
      tags:
        - CRM Activities
      summary: Get all activities for profile
      operationId: getActivities
      parameters:
        - name: profileId
          in: path
          description: Company Profile UUID
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CRMActivityDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseObject'
[...]
